recursive-include ipydatagrid/nbextension *
recursive-include ipydatagrid/labextension *

include LICENSE.txt
include README.md

include package.json
include tsconfig.json
include webpack.config.js
include ipydatagrid/labextension/*.tgz

# Examples
graft examples

# Widget source files
graft ipydatagrid/nbextension
graft js
graft style
prune **/node_modules
prune coverage
prune lib

# Patterns to exclude from any directory
global-exclude *~
global-exclude *.pyc
global-exclude *.pyo
global-exclude .git
global-exclude .ipynb_checkpoints
