:root {
  --datagrid-padding: 3px;
  --ipydatagrid-filter-dialog-width: 220px;
}

.datagrid-widget {
  width: 100%;
  height: 100%;
}

.p-DataGrid {
  width: 100%;
  height: 100%;
  padding: var(--datagrid-padding);
  border: none;
  font-family: "Lato", Helvetica, sans-serif;
}

.lm-DataGrid-cellEditorOccluder {
  margin: var(--datagrid-padding);
}

.ipydatagrid-filterMenu {
  border: 1px solid var(--jp-border-color1, #BDBDBD);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, .2);
  background: var(--jp-layout-color1, white);
  z-index: 10;
  padding: 5px;
  min-height: 143px;
}

.ipydatagrid-filterMenuIcon {
  background-size: 21px;
  background-repeat: no-repeat;
}

.ipydatagrid-filterMenuIcon-filter {
  background-image: url('icons/filter.svg');
}

.ipydatagrid-filterMenuIcon-sortAsc {
  background-image: url('icons/arrow-up-short.svg');
}

.ipydatagrid-filterMenuIcon-sortDesc {
  background-image: url('icons/arrow-down-short.svg');
}

.ipydatagrid-unique-value-grid {
  min-height: 200px;
  min-width: var(--ipydatagrid-filter-dialog-width);
  z-index: 1;
}

.ipydatagrid-filter-title {
  min-height: 25px;
  min-width: var(--ipydatagrid-filter-dialog-width);
}

.ipydatagrid-filter-apply {
  min-height: 30px;
}

.ipydatagrid-filter-condition-select {
  min-height: 35px;
  min-width: var(--ipydatagrid-filter-dialog-width);
}

.ipydatagrid-context-menu {
  border: 1px solid var(--jp-border-color0, #000000);
  font-family: 'BB.Prop', Arial, Helvetica, sans-serif;
  padding-top: 7px;
  padding-bottom: 4px;
  padding-left: 3px;
}
